* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
main {
    flex: 1;
}
button {
    padding: 10px;
    height: 50px;
    background-color: black;
    color: black;
    border-radius: 10px;
    font-size: 1.1rem;
    box-shadow: 0.5px 1px 15px 5px rgba(0, 0, 0, 0.13);
    background-image: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position .2s linear, color .2s linear;
}
strong {
    color: rgb(0, 60, 255);
}
button:hover {
    background-position: left bottom;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: bold;
}
p {
    margin-bottom: 1rem;
}
/* --- Header --- */
.header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #333; */
}
.header span {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content:  center;
    align-items: center;
    background-color: rgb(2, 79, 143);
    color: white;
}
.header__slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
}

.slide.inactive {
    transform: translateX(-100%);
}

/* --- NavBar --- */
.navBarSites {
    /* background-color: yellow; */
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.navBarSites__list {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.navBarSites__list span{
    background-color: white;
    color: gray;
    padding: 10px;
}
.navBarSites__list a {
    font-size: .9rem;
    color: rgb(24, 116, 209);
    text-decoration: none; 
    white-space: nowrap;
}
.navBarSites__list a:hover {
    color: rgba(24, 117, 209, 0.704);
}
.navBarSites__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navBarSites__item span {
    margin:  0 15px;
}
.navBar { 
    position: sticky; 
    top: 0; 
    width: 100%; 
    background-color: white; 
    box-shadow:  -20px 10px 8px 1px rgba(0, 0, 0, 0.042);
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}
.navBar .logo { 
    display: flex; 
    align-items: center; 
}
.navBar .logo img { 
    max-height: 50px; 
}
.navBar__list { 
    
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 20px; 
}
.navBar__list a {
    color: black;
    text-decoration: none; 
}
.navBar__list a:hover {
    font-weight: bold;
    color: rgb(2, 79, 143);
}
.navBar__item { 
    list-style: none; 
}
.navBar__item:hover {
    text-decoration:  underline  rgb(2, 79, 143);
}

.navBar__searchInput {
    font-size: 1.5rem;
    gap: 20px;
    display: flex;
    align-items: center;
    min-height: 100%;
    color: gray;
}
.navBar__searchInput input {
    font-size: 1.3rem;
    border: none; 
    height: 40px; 
    margin-right: 20px; 
}
.navBar__searchInput input::placeholder {
    color: gray;
} 
/* --- Main--- */
.container {
    display: flex;
    flex-direction: column;
    
}
.column__extra {
    width: 100%;
}
.column__extra img {
    width: 100%;
}
.figure__topGift img{
    max-width: 100%;
    min-height: 100%;
}
.figure__topGiftAncle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}
.figure__topGiftAncle span {
    color: black;
    font-size: 2rem;
    font-weight: bold;
}
.figure__topGiftAncle button{
    width: 20%;
}
.container__column2 {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 20px;
}
.column2__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.column2__item button {    
    width: 90%;
}
.column2__item img {
    width: 100%;
}
.container__column3 img {
    padding: 0;
    margin-top: 40px;
    width: 100%;
    height: auto;
}
.container__column4 img{
    width: 100%;
    margin-bottom: 20px;
}
.article {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article p {
    text-align: justify;
    padding: 20px;
}
/* --- footer --- */
footer {
    bottom: 0;
    padding: 1em 0;
}